<!-- Modal -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="bg-white rounded-lg shadow-lg md:w-1/2">
    <!-- Modal Header -->
    <div class="flex justify-between items-center m-5">
      <h3 class="text-lg font-semibold text-gray-700"></h3>
      <button class="text-gray-500 hover:text-gray-700" (click)="closeModal()">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>

    <!-- Modal Body -->
    <div class="space">
      <app-listing-form
        [categories]="categories"
        (onCancel)="closeModal($event)"
        [listening]="selectedListing"
        [editing]="isEditing"
      ></app-listing-form>
    </div>

    <!-- Modal Footer -->
    <div class="flex justify-end pt-4">
      <!-- <button
       class="mr-2 border rounded-md text-sm font-semibold text-gray-600 p-2 hover:bg-gray-100"
       (click)="closeModal()"
     >
       Cancel
     </button>
     <button
       class="border rounded-md text-sm font-semibold text-white bg-blue-600 p-2 hover:bg-blue-700"
       (click)="saveListing()"
     >
       Save
     </button> -->
    </div>
  </div>
</div>

<div class="flex md:flex-row flex-col space-x-3 space-y-3 px-3 w-full">
  <!-- Header Section -->
  <div class="flex flex-col space-y-2 border p-2 rounded-md md:w-1/4">
    <div class="w-full">
      <button
        (click)="addListing()"
        class="mr-2 border bg-gray-500 hover:bg-gray-600 rounded-md text-sm font-semibold text-white p-2"
      >
        +Add
      </button>
      <h2 class="font-semibold text-gray-700 text-center mt-2">
        List listings
      </h2>
    </div>
    <div class="w-full">
      @if(listings.length === 0) {
      <span class="text-sm text-gray-500"
        >... Nothing listings available ....</span
      >
      } @else { @for(listing of listings; track listing.id) {
      <ul>
        <li>{{ listing.id }} - {{ listing.name }}</li>
      </ul>
      } }
    </div>
  </div>

  <div class="md:w-3/4 z-20">
    <!-- Search and Filter Section -->
    <div class="mb-6 flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <!-- Search Bar -->
        <div class="relative">
          <input
            type="text"
            placeholder="Search..."
            class="border rounded-md p-2 pl-10 text-sm text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
            [(ngModel)]="searchQuery"
            (input)="applyFilters()"
          />
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg
              class="h-5 w-5 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
          </span>
        </div>

        <!-- Filter Dropdown -->
        <div class="relative">
          <select
            class="border rounded-md p-2 text-sm text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
            [(ngModel)]="selectedCategory"
            (change)="applyFilters()"
          >
            <option value="0">All Categories</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div id="map" style="height: 500px; width: 100%"></div>
  </div>
</div>
